<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="monster03" class="asia.lhweb.springboot.bean.Monster">
        <property name="name" value="牛魔王~"/>
        <property name="age" value="5000"/>
        <property name="skill" value="芭蕉扇~"/>
        <property name="id" value="1000"/>
    </bean>
</beans>